*{
  padding: 0;
  margin: 0;
}


.container1{
  width: 100%;
  height: 100vh;
  background-image: url(bkground1.jpg);
  background-position: center;
  background-size: cover;
}

.logo{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(0, 0, 0);
  color: white;
  justify-content: space-between;

}
.logo{
  letter-spacing: 10px;
  font-size: 25px;
}
.logo .icon{
  width: 50px;
  height: auto;
  
}
.navbar{
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  justify-content: right;
  display: flex;
 
}

.navbar ul{
  list-style: none;
}

.navbar ul li{
  display: inline-block;
  width: 120px;
  height: 30px;
  text-align: center;
  transition: 0.5s;
  padding-top: 10px;
  justify-content: right;
}

.navbar ul{
  padding-left: 660px;
}


.navbar a{
  color: white;
  text-decoration: none;
}

.navbar li:hover{
  background-color: rgba(255, 0, 0, 0.5);
}

.dis{
  text-align: center;
  width: 90%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  margin: 65px;
  padding-top: 100px;
}
.dis h2{
  font-size: 45px;
  font-weight: lighter;
  letter-spacing: 3px;
}
.dis p{
  letter-spacing: 1px;
  font-size: 18px;
  font-weight:lighter ;
}
.dis hr{
  width: 80%;
  height: 2px;
  background-color: white;
  margin: 40px 120px;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
}

.G-button{
  /* width: 300px;
  height: 40px; */
  padding:10px 100px;
  border-style: solid;
  border-color: red;
  background-color: white;
  border-width: 5px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  
}

footer{
  background: #000000;
  width: 100%;
  height: 350px;
  margin-bottom: 200px;
  
}
.f-content {
 color: white;
 display: grid;
 grid-template-columns: auto auto auto auto;
 grid-gap: 50px;
 padding-top: 20px;
 margin-bottom: 200px;
}

.f-content .Petlogo img {
  width: 160px;
  height: auto;
  border-style: solid;
  border-color: red;
  border-radius: 50%;
}
.f-content .Petlogo p{
  text-align: center;
  padding-top: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}
.question a{
  display: block;
  color:white;
  text-decoration: none;
  padding-top: 20px;
}

.f-content .information img{
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.f-content .information p {
  padding-top: 2px;
}
.information h3{
  text-align: center;
}

.Petlogo{
  display: block;
  text-align: center;
}

.visit-us h3{
  text-align: center;
}

.bottom{
  background-color: rgb(125, 125, 125);
  width: 100%;
  height: 25px;
  color: #ffffff;
  text-align: center;
  padding-top: 3px;

}
.info{
  width: 100%;
  height: 600px;
  padding-top: 10px;
  background-color: #ffffff;
}
.info .info-img{
  width: 70px;
  height: auto;
  border-color: yellow;
  border-style:solid;
  border-radius: 2px;
  border-width: 4px;
  box-shadow:inset ;
}

.info .more-button{
  padding: 10px 90px;
  background-color: rgb(255, 179, 0);
  border-radius: 30px;
  border-style: none;
  letter-spacing: 3px;
  margin-left: 60%;
  text-decoration: none;
  color: #000000;
}
table tr td{
  padding:20px;
}
table img h3 p{
  margin: 40px;
}
.container2{
  width: 100%;
  height: 100vh;
  background-image: url('pups.jpg') ;
  background-position: center;
  background-size: cover;

}
.aform{
  width: 40%;
  height: 500px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(155, 155, 155, 0.6);
  border-style:solid;
  border-width: 6px;
  border-color: rgb(24, 102, 6);
  padding: 20px;
  margin-left: 30%;
}
form label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
form input{
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}
.aform h2{
  color: rgb(246, 255, 67);
}
.aform hr{
  width: 200px;
  padding:2px;
  background-color: white;
  margin-bottom: 10px;
  border:none;
  border-radius: 2px;
}

.book-button{
  margin-top: 50px;
  padding: 12px;
  border-color: red;
  border-style: solid;
  border-width: 5px;
  background-color: white;
  margin-left: 40%;
  font-weight: 900;
  cursor: pointer;
}

.about{
  display: flex;
  justify-content:center;
  margin-left: 30px;
  padding: 10px;
}
.about .aboutimg img{
  width: 450px;
  height: 600px;
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 0%;
}
.infor h3{
  font-size: 25px;
}

.infor{
  width: 450px;
  height: auto;
}

.about .infor hr{
  margin-left: 36%;
  width: 200px;
  height: 5px;
  background-color: #000000;
}

.about .infor p{
  line-height: 40px;;
  margin-left: 45px;
  font-family: 'Great Vibes', cursive;
  color: #688c7c;
}

.aboutbutton{
  display: block;
  text-align: center;
  font-weight:0px;
  width: 180px;
  height: 40px;
  margin-top: 20px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  cursor: help;
  transition: 0.5s;
  cursor: help;
}
.aboutbutton:hover{
  border-color: green;
  color: green;
}
.info-button{
  padding-left:36%;
}

.about {
  text-align: center;
}
.about .info{
  padding-left: 20px;
}


.customers{
  background-color: rgb(125, 125, 125);
}
.customers h3{
  color: yellow;
}
.customers .head{
  padding-top: 10px;
  padding-left: 40px;
  font-size: 25px;
}
.customers hr{
  width: 260px;
  height: 2px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #fff;
  border-radius: 2px;
}
.customers-dis{
  display: flex;
  justify-content: center;
  
}

.customers-dis .comments{
  margin: 40px;
  border: #ffffff;
  border-style: solid;
  border-radius: 0px;
  width: 280px;
  height: 640px;
  background-color: #ffffff;
  text-align: center;
  padding: 30px 90px;
  line-height: 30px;
  letter-spacing: 1px;
}
.comments h4{
  font-weight: 800;
  font-size: 20px;
}
.comments p{
  font-family: "Caveat", cursive;
  color: #7e7e7e;
  font-size: 20px;
}

.customers-dis img{
  width: 180px;
  height: 175px;
  border-radius: 50%;
}
.comments .name{
  font-weight: bold;
}

.contact-background{
  filter: blur(4px);
}
  
.contact{
  background-color: rgba(17, 133, 201, 0.7);
  height: 80vh;
  width: 70%;
  position: fixed;
  left: 15%;
  top: 8vh;
  border: 2px solid rgb(10, 107, 6);
  border-radius: 5px;
  padding: 25px;
  z-index: 0;
}

.contact h2{
  color: rgb(0, 0, 0);
  font-size: 37px;
  
}

.form-content2 {
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
  height: 20px;

}

.massage-label {
  display: block;
  margin-bottom:5px;
  height: 50px;
}  


.button {

  position: fixed;
  width: 800px;
  height: 35px;
  bottom: 46vh;
  border-radius: 50px;
  
}